<component name="libraryTable">
  <library name="spring">
    <CLASSES>
      <root url="jar://$PROJECT_DIR$/WebRoot/WEB-INF/lib/spring/aopalliance.jar!/" />
      <root url="jar://$PROJECT_DIR$/WebRoot/WEB-INF/lib/spring/spring-aspects-4.0.0.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/WebRoot/WEB-INF/lib/spring/spring-core-4.0.0.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/WebRoot/WEB-INF/lib/spring/spring-test-4.0.0.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/WebRoot/WEB-INF/lib/spring/spring-webmvc-4.0.0.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/WebRoot/WEB-INF/lib/spring/spring-tx-4.0.0.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/WebRoot/WEB-INF/lib/spring/spring-context-4.0.0.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/WebRoot/WEB-INF/lib/spring/spring-expression-4.0.0.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/WebRoot/WEB-INF/lib/spring/spring-aop-4.0.0.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/WebRoot/WEB-INF/lib/spring/spring-context-support-4.0.0.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/WebRoot/WEB-INF/lib/spring/spring-jdbc-4.0.0.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/WebRoot/WEB-INF/lib/spring/spring-beans-4.0.0.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/WebRoot/WEB-INF/lib/spring/spring-web-4.0.0.RELEASE.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
  </library>
</component>