<component name="ArtifactManager">
  <artifact type="exploded-war" name="SpringMVC_Spring_mybatis:war exploded">
    <output-path>$PROJECT_DIR$/out/artifacts/SpringMVC_Spring_mybatis_war_exploded</output-path>
    <root id="root">
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="SpringMVC_Spring_mybatis" />
        </element>
        <element id="directory" name="lib">
          <element id="library" level="project" name="spring1" />
          <element id="library" level="project" name="spring" />
        </element>
      </element>
      <element id="javaee-facet-resources" facet="SpringMVC_Spring_mybatis/web/Web" />
      <element id="javaee-facet-resources" facet="SpringMVC_Spring_mybatis/web/Web2" />
    </root>
  </artifact>
</component>